<footer id="footer" class="container-fluid py-5 text-bg-dark">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-secondary">&copy; ZTORE<p>2017–2024</p></small>
      </div>
  
      <div class="col-6 col-md">
        <h5>Contacto</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="mailto:info@ztore.com">info@ztore.com</a></li>
          <li class="text-secondary">TLF:+34 612-345-678</li>
          <li><a class="link-secondary" href="https://github.com/CodeURJC-FW-2024-25/webapp09/tree/main"><i class="bi bi-instagram"></i> ztore</a></li>
          <li><a class="link-secondary" href="https://github.com/CodeURJC-FW-2024-25/webapp09/tree/main"><i class="bi bi-twitter-x"></i>ztore_tw</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Sobre nosotros</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="https://www.urjc.es/estudios/doble-grado/683-ingenieria-informatica-ingenieria-del-software">Nuestro equipo</a></li>
          <li><a class="link-secondary" href="https://www.urjc.es/estudios/doble-grado/683-ingenieria-informatica-ingenieria-del-software">Localizaciones</a></li>
          <li><a class="link-secondary" href="https://www.urjc.es/estudios/doble-grado/683-ingenieria-informatica-ingenieria-del-software">Privacidad</a></li>
          <li><a class="link-secondary" href="https://www.urjc.es/estudios/doble-grado/683-ingenieria-informatica-ingenieria-del-software">Términos y condiciones</a></li>
        </ul>
      </div>
    </div>
  </footer>
  
  </body>
  
  </html>