
{{>header}}
<body>
    <div class="dashboard">
        <!-- Sidebar -->
        {{>aside}}

        <!-- Contenido principal -->
        <main class="main">

            <!-- Barra de control -->
            <section class="top-bar">
                <h1>Dashboard</h1>
                <div class="actions">
                    <input type="text" placeholder="Buscar tarea...">
                    <button id="add-task-btn">Añadir tarea</button>
                </div>
            </section>

            <!-- Tarjetas resumen -->
            <section class="summary-cards">
                <div class="summary-card">
                    <h2>Total tareas</h2>
                    <p>24</p>
                </div>
                <div class="summary-card">
                    <h2>Completadas</h2>
                    <p>14</p>
                </div>
                <div class="summary-card">
                    <h2>Pendientes</h2>
                    <p>8</p>
                </div>
                <div class="summary-card">
                    <h2>Vencidas</h2>
                    <p>2</p>
                </div>
            </section>

        </main>
    </div>
</body>

</html>