{{>header}}
<body class="body-register">
<main class="main-container">
    <div class="card-container">
        <form class="form" action="/register" method="POST" enctype="multipart/form-data">

            <!-- Nombre de usuario -->
            <div class="flex-column">
                <label class="form-label">Nombre de usuario</label>
            </div>
            <div class="inputForm">
                <input placeholder="Introduce tu nombre de usuario" class="input" type="text" name="username" required>
            </div>

            <!-- Email -->
            <div class="flex-column">
                <label class="form-label">Correo electrónico</label>
            </div>
            <div class="inputForm">
                <input placeholder="Introduce tu email" class="input" type="email" name="email" required>
            </div>

            <!-- Contraseña -->
            <div class="flex-column">
                <label class="form-label">Contraseña</label>
            </div>
            <div class="inputForm">
                <input placeholder="Introduce tu contraseña" class="input" type="password" name="password" required>
            </div>

            <!-- Confirmar contraseña -->
            <div class="flex-column">
                <label class="form-label">Confirmar contraseña</label>
            </div>
            <div class="inputForm">
                <input placeholder="Confirma tu contraseña" class="input" type="password" name="confirm_password" required>
            </div>

            <!-- Foto de perfil -->
            <!-- Foto de perfil -->
            <div class="flex-column">
                <label class="form-label">Foto de perfil</label>
            </div>
            <div class="inputForm">
                <label class="custom-file-upload">
                    <input type="file" name="foto" accept="image/*" required>
                    Seleccionar foto
                </label>
            </div>

            <button class="button-submit">Crear cuenta</button>

            <p class="p">
                ¿Ya tienes cuenta?
                <span class="span"><a href="/">Iniciar sesión</a></span>
            </p>
        </form>
    </div>
</main>
</body>
{{>footer}}